body{
    background: url(../images/colorsBackground.jpg);
}
h2{
    text-align: center;
}
.col{
    text-align: center;
}
.container{
    background: burlywood;
}
#timeLeft{
    font-family: monospace;
    font-size: 120px;
}
#theme{
    font-family: monospace;
    font-size: 50px;
}